/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3182ce;
  --ifm-color-primary-dark: #2b6cb0;
  --ifm-color-primary-darker: #2c5282;
  --ifm-color-primary-darkest: #2a4365;
  --ifm-color-primary-light: #4299e1;
  --ifm-color-primary-lighter: #63b3ed;
  --ifm-color-primary-lightest: #90cdf4;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3182ce;
  --ifm-color-primary-dark: #2b6cb0;
  --ifm-color-primary-darker: #2c5282;
  --ifm-color-primary-darkest: #2a4365;
  --ifm-color-primary-light: #4299e1;
  --ifm-color-primary-lighter: #63b3ed;
  --ifm-color-primary-lightest: #90cdf4;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Content */
main {
  background-color: #ffffff;
}

[data-theme="dark"] main {
  background-color: #171923;
}

/* Navbar */
[data-theme="dark"] .navbar {
  background-color: #171923;
  border-bottom: 1px solid #2d3748;
}

/* Sidebar */
.menu {
  background-color: #f7fafc;
  border-right: 1px solid #edf2f7;
}

[data-theme="dark"] .menu {
  background-color: #1a202c;
  border-right: 1px solid #2d3748;
}

.menu_outer_list {
  margin-bottom: 20px;
}

.menu_outer_list > div a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.menu_outer_list > div:hover {
  background-color: transparent;
}

.menu_outer_list > div:hover a {
  color: rgba(0, 0, 0, 0.3) !important;
}

.menu_outer_list > ul {
  padding-left: 0 !important;
}

[data-theme="dark"] .menu_outer_list > div a {
  color: rgba(255, 255, 255, 0.4);
}

[data-theme="dark"] .menu_outer_list > div:hover a {
  color: rgba(255, 255, 255, 0.4) !important;
}

/* Footer */
.footer {
  background-color: #2d3748;
}

.footer__copyright {
  border-top: 1px solid #4a5568;
  padding-top: 32px;
  text-align: left;
}

/* Tables */
table {
  display: table;
  width: 100%;
}

/* Headings */
h4 {
  margin-bottom: 10px !important;
}
